body {
  background-image: url("5673759.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App .cointainer {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.App .App-header {
  text-align: center;
  margin: 50px 0px;
}

.App h1 {
  color: #bd7955;
  font-weight: 700;
  font-size: 80px;
  margin: 0;
}

@media (max-width: 518px) {
  .App .App-header {
    margin-top: 20px;
  }
  .App h1 {
    font-size: 50px;
  }
}

@media (max-width: 376px) {
  .App h1 {
    font-size: 40px;
  }
}
